# Testing Notebook - jirving

In [1]:
#!pip install -U fsds_100719 --user
from fsds_100719.imports import *

fsds_1007219  v0.4.8 loaded.  Read the docs: https://fsds.readthedocs.io/en/latest/
> For convenient loading of standard modules use: `>> from fsds_100719.imports import *`

In [2]:
import fsds_100719 as fs
import hakkeray as hk
help(hk)

Help on module hakkeray:

NAME
    hakkeray

DESCRIPTION
    My Template Module
    Name: Ru Keïn
    Email: rukeine@gmail.com
    GitHub Profile: https://github.com/hakkeray

FUNCTIONS
    hot_stats(data, column, verbose=False, t=None)
        Scans the values of a column within a dataframe and displays its datatype,
        nulls (incl. pct of total), unique values, non-null value counts, and
        statistical info (if the datatype is numeric).

        ---------------------------------------------

        Parameters:

        **args:

            data: accepts dataframe

            column: accepts name of column within dataframe (should be inside quotes '')

        **kwargs:

            verbose: (optional) accepts a boolean (default=False); verbose=True will display all
            unique values found.

            t: (optional) accepts column name as target to calculate correlation coefficient against
            using pandas data.corr() function.

        -------------

        Examples:

        hot_stats(df, 'str_column') --> where df = data, 'string_column' = column you want to scan

        hot_stats(df, 'numeric_column', t='target') --> where 'target' = column to check correlation value

        -----------------
        Developer notes: additional features to add in the future:
        -get mode(s)
        -functionality for string objects
        -pass multiple columns at once and display all
        -----------------
        SAMPLE OUTPUT:
        ****************************************

        -------->
        HOT!STATS
        <--------
        CONDITION
        Data Type: int64
        count    21597.000000
        mean         3.409825
        std          0.650546
        min          1.000000
        25%          3.000000
        50%          3.000000
        75%          4.000000
        max          5.000000
        Name: condition, dtype: float64
        à-la-Mode:
        0    3
        dtype: int64
        No Nulls Found!
        Non-Null Value Counts:
        3    14020
        4     5677
        5     1701
        2      170
        1       29
        Name: condition, dtype: int64
        # Unique Values: 5

FILE
    /Users/hakkeray/datascience/fsds_100719/fsds_100719/ft/hakkeray.py

In [3]:
#from fsds_100719.imports import *
from fsds_100719.ds import ihelp, reload

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/learn-co-students/dsc-v2-mod1-final-project-online-ds-ft-100719/master/kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [6]:
hk.hot_stats(df, 'sqft_living')

-------->
HOT!STATS
<--------

SQFT_LIVING
Data Type: int64

count    21597.000000
mean      2080.321850
std        918.106125
min        370.000000
25%       1430.000000
50%       1910.000000
75%       2550.000000
max      13540.000000
Name: sqft_living, dtype: float64

à-la-Mode:
0    1300
dtype: int64


No Nulls Found!

Non-Null Value Counts:
1300    138
1400    135
1440    133
1660    129
1010    129
       ...
4970      1
2905      1
2793      1
4810      1
1975      1
Name: sqft_living, Length: 1034, dtype: int64

# Unique Values: 1034

In [ ]:
reload(ji)

In [ ]:
ji.check_column(df,'condition')

In [ ]:
# fs.ds.ihelp_menu(ji.check_column)

In [ ]:
# def check_column(df, col_name, n_unique=10):
#     """Displays info on null values, datatype, unqiue values
#     and displays .describe()
    
#     Args:
#         df (df): contains the columns
#         col_name (str): name of the df column to show
#         n_unique (int): Number of unique values top show.
    
#     Return:
#         fig, ax (Matplotlib Figure and Axes)
#     """
    
#     print('DataType:')
#     print('\t',df[col_name].dtypes)
    
#     num_nulls = df[col_name].isna().sum()
#     print(f'Null Values Present = {num_nulls}')
    
#     display(df[col_name].describe().round(3))
    
#     print('\nValue Counts:')
#     display(df[col_name].value_counts(n_unique))
    
#     ## Add some EDA figures
#     fig, ax = plt.subplots(ncols=2)
    
#     return fig,ax
    
    
    
# check_column(df,'condition')